html, body {
    margin :0;
    padding :0;
}


.container{
    width:1080px;
}
img{
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color:black;
}

ul {
    list-style:none;
}

.nav_subcontainer {
    display:grid;
    grid-template-columns: 100px 2fr 1fr 1fr 1fr;

}



.nav_subcontainer>img{
    padding:20px 0 0 20px;
}
#nav_text {
    padding: 14px 0 0 14px;
    color:black;
}
#nav_text h1{
    display:inline;
    
}

.nav_icon p{
    color:white;
}

.nav_icon p:hover {
    color:black;
}


#article1{
    text-align: center;
}

#article1 h2{
    display:inline;
}


.enlarge:hover{
    transform: scale(1.2, 1.2);
    color:grey;
    }

@media all and (min-width:480px){
    .nav_container{
        display:grid;
        grid-template-columns: auto;
    }
    
    
  
    
}


/* 
#cover img {
    display: flex;
    width:100%;
 
    
}


.nav_container {
    display:flex;
    width:100%;
}

.nav_subcontainer {
    display:inline-block;
    width:50%;
}
/* .nav_subcontainer h1 {
    display:flex;
    width:50%;
} */

li.item {
    max-width: 100%;
}

.nav_subcontainer img {
    max-width: 100%;
} */